@import "../../scss//theme";

.cell {
  padding: 3px;
  border: 1px solid #000000;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.2);
  }
  .symbol {
    text-align: center;
    font-weight: bolder;
  }
  @media (max-width: 425px) {
    & {
      font-size: 12px;
    }
    .name {
      display: none;
    }
  }
}

.noblegas {
  background-color: $noblegas;
}
.nonmetal {
  background-color: $nonmetal;
}
.alkaliMetal {
  background-color: $alkaliMetal;
}
.alkaliEarthMetal {
  background-color: $alkaliEarthMetal;
}
.transitionMetal {
  background-color: $transitionMetal;
}
.metalloid {
  background-color: $metalloid;
}
.actinide {
  background-color: $actinide;
}
.lanthanide {
  background-color: $lanthanide;
}
