$primary-color: #bb8fe8;
$secondary-color: red;
$bg-color: #fafafa;

$text-color: #1d1b1b;
$text-light: #fff;
// elements group colors

$noblegas: #c0ffff;
$nonmetal: #f0ff8f;
$alkaliMetal: #ff6666;
$alkaliEarthMetal: #ffdead;
$transitionMetal: #ffc0c0;
$metalloid: #cccc99;
$actinide: #ff99cc;
$lanthanide: #ffbfff;
